body {
    background-color: black;
}

label {
    color: #00ffffb1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label.score {
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
}

select {
    background-color: #00ffff80;
    border-color: yellow;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    color: white;
    width:100px;
    height:35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

button {
    background-color: #00ffff80;
    border-color: yellow;
    border-style: solid;
    border-radius: 8px;
    color: white;
    width:150px;
    height:35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
button:hover {
    background-color: goldenrod;
}
button:active {
    background-color: yellow;
}

.container {
    width: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

img.sprite {
    width: 100px;
    position: absolute;
}

img.poof {
    width: 200px;
    position: absolute;
}
